.card {
    border: 2px solid var(--black-main-color);
    background-color: #fff;
}

.card__title {
    font-size: 18px;
    font-weight: var(--title-font-weight);
    padding: 4px 10px;
    border-bottom: 2px solid var(--black-main-color);
}

.card__image-container {
    position: relative;
}

.card__image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.card__image-title {
    position: absolute;
    top: 25px;
    right: clamp(13px, 8.678px + 1.137vw, 25px);
    font-family: var(--accent-font-family), system-ui, sans-serif;
    font-size: 14px;
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px var(--white-main-color);
}

@supports not (-webkit-text-stroke: 1px black) {
    .card__image-title {
        text-shadow: 1px solid var(--white-main-color);
    }
}

.card__main {
    padding: 28px 25px 25px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.5px;
    border-top: 2px solid var(--black-main-color);
}

.card__text + .card__text {
    padding-top: 25px;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 12px;
    padding-top: 25px;
}

.card__icon-button {
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--black-main-color);
}

.card__icon-button, .card__like-button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.card__like-button {
    width: 130px;
    padding: 10.5px 0;
    border: 2px solid var(--black-main-color);
    font-family: var(--accent-font-family), system-ui, sans-serif;
    font-size: 14px;
}

.card__image_1 {
    filter: grayscale(100%) brightness(70%);
}

.card__image_2 {
    filter: brightness(120%) saturate(130%);
}

.card__image_3 {
    filter: sepia(90%) contrast(85%);
}

.card__image_4 {
    filter: brightness(60%) contrast(120%) saturate(70%);
}

.card__image_5 {
    filter: blur(2px) brightness(110%) saturate(120%);
}

.card__image_6 {
    filter: contrast(150%) saturate(50%) brightness(90%);
}

.card__image_7 {
    filter: hue-rotate(180deg) saturate(200%);
}

.card__image_8 {
    filter: drop-shadow(0 0 10px #00fff7) brightness(120%) contrast(110%);
}