.like-icon {
    display: block;
}

.sparks {
    fill: var(--animation-fill-color);
    opacity: 0;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s ease 0.05s;
}

.core {
    fill: transparent;
    transition: fill 0.3s ease 0s;
}

.contour {
    fill: var(--contour-color);
}

.heart {
    transform-origin: center;
}

.like-icon:hover .main-body {
    fill: var(--black-main-color);
}

.like-icon:hover .core {
    fill: var(--black-main-color);
}

.like-icon:not(:hover) .main-body {
    transition-delay: 0s;
}

.like-icon:not(:hover) .core {
    transition-delay: 0.03s;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color);
}

.like-icon:active .core {
    fill: var(--animation-fill-color);
}

.like-icon:not(:active) .main-body {
    transition-delay: 0s;
}

.like-icon:not(:active) .core {
    transition-delay: 0.03s;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
}

.like-icon:not(.is-liked) .contour {
    transition-delay: 0.1s;
    transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);
}

@keyframes flash-scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes flash-sparks {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.like-icon.is-liked .heart {
    animation: 0.3s ease-in 0.1s flash-scale;
}

.like-icon.is-liked .sparks {
    animation: 0.3s ease-in 0.3s flash-sparks;
}