@import "header.css";
@import "card.css";
@import "like-icon.css";

/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: "wght" var(--main-font-weight);
    font-family: var(--main-font-family), system-ui, sans-serif;
    background: var(--background-image) no-repeat fixed center;
    background-size: cover;
}

.container {
    max-width: clamp(375px, 49vw, 700px);
    margin: 0 auto;
}

.main {
    margin-top: calc(-1 * clamp(140px, 49.232px + 23.886vw, 392px));
    padding-bottom: 100px;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.save-button {
    cursor: pointer;
    max-width: clamp(321px, 310.555px + 2.749vw, 350px);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 20px;
    background-color: #fff;
    border: 2px solid var(--black-main-color);
}

.save-button span {
    font-family: var(--accent-font-family), system-ui, sans-serif;
    font-size: 14px;
    line-height: 0.9;
}

.dialog[open] {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    font-family: var(--accent-font-family), system-ui, sans-serif;
    background-color: var(--white-main-color);
    border: 2px solid var(--black-main-color);
}

.dialog[open]::backdrop {
    background-color: var(--black-main-color);
    opacity: 75%;
}

.dialog__main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dialog__text {
    width: clamp(198px, 185.033px + 3.412vw, 234px);
    line-height: 1.5;
    font-size: 14px;
    text-transform: uppercase;
}

.dialog__button {
    cursor: pointer;
    width: 100%;
    padding: 12.5px 0;
    background-color: transparent;
    border: 2px solid var(--black-main-color);
}

.button__text {
    position: relative;
    z-index: 2;
    color: var(--white-main-color);
    mix-blend-mode: difference;
}

.save-button svg {
    background-color: transparent;
    mix-blend-mode: difference;
    position: relative;
    z-index: 2;
}

.save-button, .dialog__button, .card__like-button {
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.save-button::after, .dialog__button::after, .card__like-button::after {
    content: '';
    position: absolute;
    background-color: var(--black-main-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.save-button:focus-visible, .dialog__button:focus-visible, .card__like-button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--black-main-color);
}

.save-button:hover::after, .dialog__button:hover::after, .card__like-button:hover::after {
    transform: translateX(0);
}

@media (width <= 375px) {
    .save-button {
        flex-direction: column;
    }

    .save-button svg {
        width: 28px;
        height: 28px;
    }

    .dialog[open] {
        padding: 30px 42px;
    }
}